<div class="page-container">

   <!-- Search Section -->
  <div class="search-section">
    <h2>Search Employee</h2>

    <div class="search-box">
      <input 
        type="number"
        placeholder="Enter Employee ID"
        [(ngModel)]="employee.id"
      />
      <button (click)="search()">Search</button>
    </div>
  </div>

  <!-- Employee Details -->
  <div class="card" *ngIf="employee">

    <h3>👤 Employee Details</h3>

    <div class="details-container">

      <!-- Left -->
      <div class="left">
        <p><b>🆔 ID:</b> {{employee.id}}</p>
        <p><b>👤 Name:</b> {{employee.name}}</p>
        <p><b>🏢 Department:</b> {{employee.department}}</p>
        <p><b>📧 Email:</b> {{employee.emailId}}</p>
        <p><b>📞 Phone:</b> {{employee.mobileNo}}</p>
      </div>
      <div>
        <td>
      <button (click)="edit(employee.id)">Edit</button>
      <button (click)="delete(employee.id)">Delete</button>
      <div class="tabs"> 
</div>
    </td>
      </div>
      <!-- Right Card -->
      <div class="right-card">
        <h4>👥 Employee Details</h4>
        <p><b>ID:</b> {{employee.id}}</p>
        <p><b>Name:</b> {{employee.name}}</p>
        <p><b>Email:</b> {{employee.emailId}}</p>
        <p><b>Phone:</b> {{employee.mobileNo}}</p>
      </div>

    </div>
  </div>

  <!-- Not Found -->
  <div *ngIf="notFound" class="error">
    Employee not found
  </div>

  <div *ngIf="notFound" class="error">
  ⚠ Please enter Employee ID or valid record
</div>

</div>

